.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top, .middle, .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.top {
  align-items: end;
}

.middle {
  flex: 3;
}

.bottom {
  flex: 4;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  justify-items: center;
  align-items: start;
}

.card {
  width: 300px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px !important;
    background-color: lightblue;
  padding: 10px
}

.title{
  font-weight: bold;
  text-align: center;
}

.css-1p823my-MuiListItem-root {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  margin-bottom: 0;
}

.li {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  margin-bottom: 0;
}
